---
layout: layouts/base.njk
---
<div class="portfolio-header">
  <a class="portfolio-close" href="{{ '/' | url }}">
    <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-chevron-left" style="width: 1em; margin-right: 8px;"><path fill="currentColor" d="M34.5 239L228.9 44.7c9.4-9.4 24.6-9.4 33.9 0l22.7 22.7c9.4 9.4 9.4 24.5 0 33.9L131.5 256l154 154.7c9.3 9.4 9.3 24.5 0 33.9l-22.7 22.7c-9.4 9.4-24.6 9.4-33.9 0L34.5 273c-9.4-9.4-9.4-24.6 0-33.9z"></path></svg>
    <small class="lang-en">Go Back</small>
    <small class="lang-es">Volver</small>
  </a>
</div>

<div class="portfolio-top">
  <div class="content-placeholder hero-image-placeholder">
    {% if thumbnail %}
      <img src="{{ thumbnail | url }}" alt="{{ title }} thumbnail" class="hero-image">
    {% endif %}
  </div>
  <h2 class="lang-en">{{ title }}</h2>
  {% if title_es %}
  <h2 class="lang-es">{{ title_es }}</h2>
  {% endif %}
</div>

<div class="experience lang-en">
  {% if about %}
  <section class="job-card">
    <h3>About</h3>
    <p>{{ about }}</p>
  </section>
  {% endif %}

  {% if role or team_size or time_frame or engine %}
  <section class="job-card">
    <h3>Project Info</h3>
    <ul class="project-info-list">
      {% if role %}<li><strong>Role:</strong> {{ role }}</li>{% endif %}
      {% if team_size %}<li><strong>Team Size:</strong> {{ team_size }}</li>{% endif %}
      {% if time_frame %}<li><strong>Time frame:</strong> {{ time_frame }}</li>{% endif %}
      {% if engine %}<li><strong>Engine:</strong> {{ engine }}</li>{% endif %}
    </ul>
  </section>
  {% endif %}
</div>

{% if about_es or role_es %}
<div class="experience lang-es">
  {% if about_es %}
  <section class="job-card">
    <h3>Acerca de</h3>
    <p>{{ about_es }}</p>
  </section>
  {% endif %}

  {% if role_es or team_size or time_frame or engine %}
  <section class="job-card">
    <h3>Información</h3>
    <ul class="project-info-list">
      {% if role_es %}<li><strong>Rol:</strong> {{ role_es }}</li>{% endif %}
      {% if team_size %}<li><strong>Equipo:</strong> {{ team_size }}</li>{% endif %}
      {% if time_frame %}<li><strong>Duración:</strong> {{ time_frame }}</li>{% endif %}
      {% if engine %}<li><strong>Motor:</strong> {{ engine }}</li>{% endif %}
    </ul>
  </section>
  {% endif %}
</div>
{% endif %}

<div class="project-content part lang-en">
    {{ content | safe }}
</div>

{% if body_es %}
<div class="project-content part lang-es">
    {{ body_es | renderNjk | markdownify | safe }}
</div>
{% endif %}
